@model CoreDevextremeTheme.Models.Common.DeletedEntityLog

@{
    ViewData["Title"] = "Details";
}

<h1>Detaylar</h1>

<div>
    <h4>RecycleBin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntityType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedById)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedById)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-secondary rounded-1">
        <i class="fas fa-list"></i>
    </a>
</div>
