@model IEnumerable<CoreDevextremeTheme.Models.Common.DeletedEntityLog>

@{
    ViewData["Title"] = "Geri Dönüşüm Kutusu";
}

<style>
    .json-column {
        max-width: 300px; /* İstenilen genişliği burada belirleyebilirsiniz */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>


<h1>@ViewData["Title"]</h1>

@*add button "Geri Dönüşüm Kutusunu Boşalt"*@

<form method="post" asp-action="DeleteAll" onsubmit="return confirm('Geri dönüşüm kutusunu boşaltmak istediğinize emin misiniz?')">
    <button type="submit" class="btn btn-outline-danger rounded-1">
        <i class="fas fa-trash-circle"></i> Geri Dönüşüm Kutusunu Boşalt
    </button>
</form>


<hr />

<table class="table table-striped table-hover table-bordered display responsive nowrap" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityJson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedById)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EntityName)
                </td>
                <td class="json-column">
                    @Html.DisplayFor(modelItem => item.EntityJson)
                </td>
                <td class="json-column">
                    @Html.DisplayFor(modelItem => item.DeletedById)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedAt)
                </td>
                <td>
                    <div class="d-flex justify-content-start">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-secondary rounded-1">
                            <i class="fas fa-info-circle"></i>
                        </a>

                        <a asp-action="Recover" asp-route-id="@item.Id" class="btn btn-outline-success rounded-1">
                            <i class="fas fa-recycle"></i>
                        </a>

                        @*<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger rounded-1">
                            <i class="fas fa-trash"></i>
                        </a>*@

                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-outline-danger rounded-1">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                destroy: true,
                "order": [[3, "desc"]]
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}
