@model RoleEdit
@{
    ViewData["Title"] = "Rol Güncelle";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <input type="hidden" name="roleName" value="@Model.Role.Name" />
    <input type="hidden" name="roleId" value="@Model.Role.Id" />

    <h3 >@Model.Role.Name Rolüne Kullanıcı Ekle</h3>
    <table class="table table-bordered table-sm">
        @if (Model.NonMembers.Count() == 0)
        {
            <tr><td colspan="2">Tüm kullanıcılar role dahil</td></tr>
        }
        else
        {
            @foreach (ApplicationUser user in Model.NonMembers)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="AddIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>

    <h3>@Model.Role.Name Rolünden Kullanıcı Çıkar</h3>
    <table class="table table-bordered table-sm">
        @if (Model.Members.Count() == 0)
        {
            <tr><td colspan="2">Role tanımlı kullanıcı bulunmuyor</td></tr>
        }
        else
        {
            @foreach (ApplicationUser user in Model.Members)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        <input type="checkbox" name="DeleteIds" value="@user.Id">
                    </td>
                </tr>
            }
        }
    </table>
    <div class="form-group">

        <button type="submit" value="Save" class="btn btn-primary">
            <i class="fas fa-save"></i>
        </button>

        <a asp-action="Index" class="btn btn-outline-secondary rounded-1">
            <i class="fas fa-list"></i>
        </a>

    </div>
</form>